Package: vpn-killswitch
Version: 1.2.0
Architecture: all
Maintainer: Angela Donahue <angelad@disroot.org>
Installed-Size: 64
Section: utils
Priority: optional
Homepage: https://github.com/angela-d/vpn-killswitch
Description: VPN Killswitch
 Retain your privacy while torrenting, even if your VPN connection is lost.
